<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Interstellar" parallel="classes" verbose="1">

    <parameter name="testEnabled" value="true"/>


    <test name="Test">
        <classes>
            <class name="tests.Luma.Luma"/>
        </classes>
    </test>

</suite>